.bouton
{
    cursor:pointer;
    font-weight: bold;
    text-decoration: none;
    color : #659900;
    font-size : 11px;
}
.bouton:hover
{
text-decoration:underline;
color: black;
}
.imgClass {
    background-image: url(../pics/greenbutton.png);
    background-position:  0px 0px;
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
    border: 0px;
    background-color: none;
    cursor: pointer;
    outline: 0;
}

.categoryTitle {
    /* position:absolute;
    margin:0;
    padding:5px;
    top:0;
    left:0; */
    cursor: default; 
}
.categoryClose {
    color:red;
    font: bold 11px Arial;
    cursor: pointer;
    text-decoration: none;
    background-color: #EEEEEE;
      
}

.categoryConfig {
    font: bold 11px Arial;
    cursor: pointer;
    text-decoration: none;
    background-color: #EEEEEE;
}

.listCustomCategories {
    border: 1px solid;
}

table.listCustomCategories td {
    border: 1px solid;
}



.dropper {
    position:relative;
    min-height: 200px;
    min-width: 100px;
    margin-right: 20px;
    /* transition: all 200ms linear; */
    margin: 10px auto;
    margin-right: auto;
    border: 0;
    text-align: left;
    font-size: 11px;
    width: 95%;
    background-color: #ffffff;
    box-shadow: 0px 1px 2px 1px #D2D2D2;
    border-spacing: 0;
}

.drop_hover {
    box-shadow: 3px 4px 5px 4px rgba(0, 0, 0, 0.8);
}

.draggable {
    vertical-align: middle;
    line-height: 2em; 
    cursor: move;
    /* transition: all 200ms linear; */
    user-select: none;          
}


